// stripping styles
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: $darkBlue;
}

body,
p,
h1,
h2,
fieldset {
  margin: 0px;
  padding: 0px;
}

// global styling
section {
  padding: 50px 0px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facts,
.results {
  background-color: $white;
}

.form,
.timer {
  background-color: $lightBlue;
}

h2 {
  padding-bottom: 25px;
  text-align: center;
}

button,
input[type="submit"] {
  background-color: $white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px $white solid;
}

// hover effects
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: $darkBlue;
  color: $white;
  cursor: pointer;
  border: 2px solid $darkBlue;
}

button:active,
input[type="submit"]:active {
  border: 2px $white solid;
}

body,
p {
  font-size: 2.2rem;
}

p,
li {
  line-height: 32px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  height: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

// result section styling
.results {
  .wrapper {
    text-align: center;
  }
  .fa-question {
    padding-top: 20px;
  }
  .drinkingCups {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap;
  }
  .dailyCup {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    transition: all 0.8s;
  }
  .drank {
    opacity: 0.5;
    animation: bounce 0.5s;
  }
  .dailyCup:hover,
  .dailyCup:focus {
    cursor: pointer;
  }
  img {
    object-fit: contain;
  }
}

// timer sections styling
.timer {
  p {
    text-align: center;
  }
  .timerButtons {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
  }
  .textAlert {
    background-color: rgba($color: $darkBlue, $alpha: 0.95);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
    .alertBox {
      background-color: #a8dadcea;
      padding: 50px;
      border-radius: 25px;
      text-align: center;
    }
    h2 {
      padding: 0px;
    }
    .arrayImg {
      width: 300px;
      height: 300px;
      padding: 25px;
    }
  }
}

// footer styling
footer {
  padding: 15px 0px;
  text-align: center;
  background-color: $darkBlue;
  color: $white;
}

@media (max-width: 480px) {
  body,
  p {
    font-size: 1.8rem;
  }
  header {
    background-position: 65%;
  }

  .facts {
    h2 {
      font-size: 3.5rem;
      line-height: 60px;
    }
  }

  .form {
    form {
      height: 100%;
    }
    .active,
    .climate {
      label {
        padding-left: 25px;
      }
    }
  }
  footer p {
    font-size: 1.4rem;
  }
}
