// stripping styles
html {
  font-size: 62.5%;
  font-family: "Roboto Slab", serif;
}

body,
p,
h1,
h2,
fieldset {
  margin: 0px;
  padding: 0px;
}

// global styling
section {
  padding: 50px 0px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facts,
.results {
  background-color: #f1faee;
}

.form,
.timer {
  background-color: #a8dadcea;
}

h2 {
  padding-bottom: 25px;
  text-align: center;
}

// radio styling
input[type="radio"] {
  display: none;
}

.active label,
.climate label {
  position: relative;
  border: 2px solid #1d3557;
  border-radius: 5px;
  padding: 10px 50px;
  display: inline-block;
  background-color: #f1faee;
  font-size: 2rem;
}

.active label::before,
.climate label::before {
  content: "";
  height: 16px;
  width: 16px;
  border: 3px solid #1d3557;
  border-radius: 50%;
  margin-right: 20px;
  display: inline-block;
}

input[type="radio"]:checked + label {
  background-color: #1d3557;
  color: white;
}

input[type="radio"]:checked + label::before {
  border: 10px solid white;
  background-color: #1d3557;
}

button,
input[type="submit"] {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  border: 5px #ffffff solid;
}

// hover effects
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #1d3557;
  color: #ffffff;
  cursor: pointer;
  border: 5px solid #1d3557;
}

button:active,
input[type="submit"]:active {
  border: 5px #ffffff solid;
}

body,
p {
  font-size: 2.2rem;
}

p,
li {
  line-height: 32px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  height: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

// header styling
header {
  height: 750px;
  background: url(../assets/image-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  h1 {
    padding-top: 50px;
    font-size: 8rem;
    font-family: "Big Shoulders Inline Text", cursive;
  }
}

// facts section styling
.facts {
  h2 {
    font-family: "Xanh Mono", monospace;
    font-size: 5rem;
    line-height: 80px;
  }
  li {
    padding-top: 10px;
  }
  .break {
    display: block;
  }
}

// form section styling
.form {
  p {
    padding-bottom: 25px;
  }
  legend {
    border-bottom: solid 3px black;
    margin-bottom: 25px;
  }
  fieldset {
    border: none;
  }
  input:required {
    box-shadow: none;
  }
}

// result section styling
.results {
  .wrapper {
    text-align: center;
  }
  .fa-question {
    padding-top: 20px;
  }
}

// timer sections styling
.timer {
  .timerButtons {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
  }
  .textAlert {
    background-color: rgba($color: #1d3557, $alpha: 0.95);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .alertBox {
      background-color: #a8dadcea;
      padding: 50px;
      border-radius: 25px;
      text-align: center;
    }
    h2 {
      padding: 0px;
    }
    .arrayImg {
      width: 300px;
      height: 300px;
      padding: 25px;
    }
  }
}

// footer styling
footer {
  padding: 15px 0px;
  text-align: center;
  background-color: #1d3557;
  color: #f1faee;
}

// media queries
@media (max-width: 768px) {
  body,
  p {
    font-size: 2rem;
    text-align: center;
  }

  .facts {
    ul {
      text-align: left;
    }
  }

  .form {
    .active,
    .climate,
    .submitContainer {
      width: 100%;
      margin-top: 25px;
    }
    label {
      width: 250px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      text-align: left;
    }
  }
}

@media (max-width: 480px) {
  body,
  p {
    font-size: 1.8rem;
  }
  header {
    background-position: 65%;
  }

  .facts {
    h2 {
      font-size: 3.5rem;
      line-height: 60px;
    }
  }

  .form {
    form {
      height: 100%;
    }
    .submitContainer {
      text-align: center;
    }
    .active,
    .climate {
      label {
        padding-left: 25px;
      }
    }
  }
}
